# Inserting and Deleting Rows

Imagine we want to add a new person to our list of job candidates. 

1. Creat a new Series object that represents this new candidate.
2. Add the series object created in Step 1 as a new row to the end of df with `.concat()`.

In [12]:
import pandas as pd
import os

file_path = os.path.join('resources','candidate.csv')
df = pd.read_csv(file_path,index_col=0)

print('****Printing Candidate DataFrame****')
print(df)

# Creating Series Object for John

john = pd.Series(['John','New Delhi','21','90.0'],index=df.columns,name=108)

print('***** Priniting Series Object - John ********')
print(john)

# Appending John Object to DataFrame

df = pd.concat([df,pd.DataFrame([john])],ignore_index=True)

print('****Printing Candidate DataFrame****')
print(df)

****Printing Candidate DataFrame****
       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0
***** Priniting Series Object - John ********
name             John
city        New Delhi
age                21
py-score         90.0
Name: 108, dtype: object
****Printing Candidate DataFrame****
     name         city age py-score
0  Xavier  Mexico City  41     88.0
1     Ann      Toronto  28     79.0
2    Jana       Prague  33     81.0
3      Yi     Shanghai  34     80.0
4   Robin   Manchester  38     68.0
5    Amal        Cairo  31     61.0
6    Nori        Osaka  37     84.0
7    John    New Delhi  21     90.0

We can delete it with a single call to ``.drop()``.

``.drop()`` removes the rows specified with the parameter labels. 

By default, it returns the pandas DataFrame with the specified rows removed.

In [15]:
df = df.drop(labels=[7])

print('***** printing dataframe after removing john*****')

print(df)

***** printing dataframe after removing john*****
     name         city age py-score
0  Xavier  Mexico City  41     88.0
1     Ann      Toronto  28     79.0
2    Jana       Prague  33     81.0
3      Yi     Shanghai  34     80.0
4   Robin   Manchester  38     68.0
5    Amal        Cairo  31     61.0
6    Nori        Osaka  37     84.0

### Inserting and Deleting Columns

The most straightforward way to insert a column in a pandas DataFrame is to follow the same procedure that we use when we add an item to a dictionary.

In [16]:
import numpy as np

df['js-score'] = np.array([71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0])

print('****** Adding Column js-score to DataFrame *******')

print(df)

****** Adding Column js-score to DataFrame *******
     name         city age py-score  js-score
0  Xavier  Mexico City  41     88.0      71.0
1     Ann      Toronto  28     79.0      95.0
2    Jana       Prague  33     81.0      88.0
3      Yi     Shanghai  34     80.0      79.0
4   Robin   Manchester  38     68.0      91.0
5    Amal        Cairo  31     61.0      91.0
6    Nori        Osaka  37     84.0      80.0

Now the original DataFrame has one more column, js-score, at its end.

We can add a new column with a single value:

In [17]:
df['total-score'] = 0

print('****** Adding Column total-score *****')

print(df)

****** Adding Column total-score *****
     name         city age py-score  js-score  total-score
0  Xavier  Mexico City  41     88.0      71.0            0
1     Ann      Toronto  28     79.0      95.0            0
2    Jana       Prague  33     81.0      88.0            0
3      Yi     Shanghai  34     80.0      79.0            0
4   Robin   Manchester  38     68.0      91.0            0
5    Amal        Cairo  31     61.0      91.0            0
6    Nori        Osaka  37     84.0      80.0            0

The DataFrame df now has an additional column filled with zeros.

However, it doesnâ€™t allow us to specify the location of the new column. 

We can use ``.insert()`` to insert a column at the specified location in DataFrame.

In [18]:
df.insert(loc=4,column='django-score',value=np.array([86.0, 81.0, 78.0, 88.0, 74.0, 70.0, 81.0]))

print('**** Adding Column django-score ******')
print(df)

**** Adding Column django-score ******
     name         city age py-score  django-score  js-score  total-score
0  Xavier  Mexico City  41     88.0          86.0      71.0            0
1     Ann      Toronto  28     79.0          81.0      95.0            0
2    Jana       Prague  33     81.0          78.0      88.0            0
3      Yi     Shanghai  34     80.0          88.0      79.0            0
4   Robin   Manchester  38     68.0          74.0      91.0            0
5    Amal        Cairo  31     61.0          70.0      91.0            0
6    Nori        Osaka  37     84.0          81.0      80.0            0

1. To delete one or more columns from a panda DataFrame,use the ``del`` statement.
2. Instead of ``del``,we can use ``.pop()`` method to removes the specified column and returns it.
3. To remove one or more columns,we can ``.drop()`` method along with the argument ``axis=1``.

In [25]:
print('***** Dropping Column(s) using del keyword *****')

try:
    del df['total-score']
except KeyError as error:
    print('total-score column already deleted')    

print(df)

print('***** Dropping Column(s) using pop method *****')

try:
    city = df.pop('city')
except KeyError as error:
    print('city column already removed')    

print(city)

print('***** Dropping Column(s) using drop method *****')

try:
    df = df.drop(labels='age',axis=1)
except KeyError as error:
    print('age column already deleted')
    
print(df)

***** Dropping Column(s) using del keyword *****
total-score column already deleted
     name py-score  django-score  js-score
0  Xavier     88.0          86.0      71.0
1     Ann     79.0          81.0      95.0
2    Jana     81.0          78.0      88.0
3      Yi     80.0          88.0      79.0
4   Robin     68.0          74.0      91.0
5    Amal     61.0          70.0      91.0
6    Nori     84.0          81.0      80.0
***** Dropping Column(s) using pop method *****
city column already removed
0    Mexico City
1        Toronto
2         Prague
3       Shanghai
4     Manchester
5          Cairo
6          Osaka
Name: city, dtype: object
***** Dropping Column(s) using drop method *****
age column already deleted
     name py-score  django-score  js-score
0  Xavier     88.0          86.0      71.0
1     Ann     79.0          81.0      95.0
2    Jana     81.0          78.0      88.0
3      Yi     80.0          88.0      79.0
4   Robin     68.0          74.0      91.0
5    Amal     61.0          70.0      91.0
6    Nori     84.0          81.0      80.0